<div class="main-content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">person</i> SENA
                        </div>
                        <div class="card-content">
                            <p class="category">Ganhadores</p>
                            <h3 class="title">{{sena}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i>Sena - 6 números acertados.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">people</i> QUINA
                        </div>
                        <div class="card-content">
                            <p class="category">Ganhadores</p>
                            <h3 class="title">{{quina}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i>Quina - 5 números acertados.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="material-icons">group_add</i>QUADRA
                        </div>
                        <div class="card-content">
                            <p class="category">Ganhadores</p>
                            <h3 class="title">{{quadra}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> Quadra - 4 números acertados.
                            </div>
                        </div>
                    </div>
                </div>

 
            </div>
        </div>
</div>
